<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>

        <title>Create an account</title>
    </head>
    <body>

        <main>
            <!--adding nav menu-->
            <navmenu></navmenu>

            <header>
                <h1>Create an account!</h1>
            </header>

            <!-- Content Area -->
            <div class="content">
                <form @submit.prevent="registerCustomer">
                    <label for="username">Username:</label>
                    <input type="text" id="username" v-model="username" required><br>

                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" v-model="firstName" required><br>

                    <label for="surname">Surname:</label>
                    <input type="text" id="surname" v-model="surname" required><br>

                    <label for="emailAddress">Email:</label>
                    <input type="emailAddress" id="emailAddress" v-model="emailAddress" required><br>

                    <label for="shippingAddress">Shipping Address:</label>
                    <input type="text" id="shippingAddress" v-model="shippingAddress" required><br>

                    <label for="password">Password:</label>
                    <input type="password" id="password" v-model="password" required><br>

                    <button type="submit">Create Account</button>
                </form>

            </div>

            <footer>
                <h1>Join the Boris Army</h1>
            </footer>       
        </main>
        <script type="module" src="js/create-account.js"></script>
    </body>
</html>
