<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <title>View Products</title>
    </head>
    <body>
        <main>
            <!-- Adding nav menu -->
            <navmenu></navmenu>

            <header>
                <h1>Product Catalog</h1>
            </header>

            <!--Category Buttons --> 
            <div class="categories">
                <button @click="filterProducts('ALL')">ALL</button>
                <div class="category" v-for="category in categories" :key="category">
                    <button @click="filterProducts(category)">{{ category }}</button>
                </div>
            </div>

            <!-- Content Area -->
            <div class="productContent">
                <!-- for each product using the Vue v-for -->
                <div class="product" v-for="product in filteredProducts" :key="product.productId">
                    <h2>{{ product.name }} (ID: {{ product.productId }})</h2>
                    <p>{{ product.description }}</p>
                    <p><strong>Category:</strong> {{ product.category }}</p>
                    <p><strong>Price:</strong> ${{ product.listPrice }}</p>
                    <p><strong>Quantity In Stock:</strong> {{ product.quantityInStock }}</p>
                </div>

                <!-- Error message if no products available -->
                <p v-if="filteredProducts.length === 0">No products available.</p>
            </div>

            <footer>
                <h1>We sell the biggest range of Cat Products</h1>
            </footer>
        </main>
        <script type="module" src="js/view-products.js"></script>
    </body>
</html>
